.main {
background-color:#0f172a;
color:white;
}

.block-container {
padding-top:2rem;
}

.stButton button {

background:#6366f1;
color:white;
border-radius:10px;
font-weight:bold;
}

.stTextInput input{

background:#1e293b;
color:white;

}

.card {

background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:15px;

}